*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}

input::placeholder,textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
  text-align: inherit;
}

::-webkit-datetime-edit {
  display: inline-flex;
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

[multiple],[size]:where(select:not([size="1"])) {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          print-color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='checkbox']:checked {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='radio']:checked {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (forced-colors: active)  {
  [type='checkbox']:indeterminate {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus {
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}

html {
  font-family: "Inter", system-ui, sans;
  font-size: 12px;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

:root {
  --primary: #58b94f;
  --primary_lighter: #ceebcc;
  --primary_darker: #1c4927;
  --secondary: #fcb040;
  --line: #e0e0e0;
  --info: #333333;
  --info_lighter: #f1f1f1;
  --info_darker: #f1f5f9;
  --danger: #991b1b;
}

a {
  padding: 0;
  margin: 0;
}

@media (min-width: 340px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 640px) {
}

@media (min-width: 641px) and (max-width: 1024px) {
}

@media (min-width: 1024px) and (max-width: 1440px) {
}

@media (min-width: 1440px) and (max-width: 1536px) {
}

@media (min-width: 1536px) {
}

@media (max-width: 639px) {
  html {
    font-size: 15px;
  }
}

/* -sm: small tablets, large phones */

@media (min-width: 640px) {
  html {
    font-size: 15px;
  }
}

/* -md: medium devices, tablets */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #publicDocsTable {
    min-width: 768px;
  }
}

/* -lg: large devices, laptop, desktop */

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  .navbar-mobile {
    display: none;
  }
}

/* -xl: extra large devices, large desktop */

/* if width > 1280 */

@media (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 19px;
  }
}

.horizontal-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.horizontal-padding.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.horizontal-padding.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.navbar.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.navbar {
  position: fixed;
  top: 0px;
  z-index: 40;
  display: none;
  width: 100%;
  max-width: 1536px;
  border-radius: 0.375rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1024px) {
  .navbar.my-button {
    width: 100%;
  }

  .navbar {
    display: block;
  }
}

ul.navbar-menu {
  display: flex;
  gap: 2rem;
}

.navbar-menu > li a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(88 185 79 / var(--tw-text-opacity, 1));
}

.navbar-mobile {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .navbar-mobile {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar-mobile.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.navbar-mobile.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.navbar-mobile {
  position: fixed;
  z-index: 40;
  width: 100%;
  border-radius: 0.375rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1024px) {
  .navbar-mobile {
    display: none;
  }
}

.navbar-menu-mobile {
  display: flex;
  flex-direction: column;
}

.my-button.navbar-menu-mobile a {
  border-radius: 0.375rem;
}

.navbar-menu-mobile a {
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.navbar-menu-mobile a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(88 185 79 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.navbar-menu-mobile a.selected {
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

a.text-link:hover {
  text-decoration-line: underline;
}

.group-text-btn {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 1rem;
}

.group-text-btn > a {
  width: 50%;
  min-width: 10rem;
  border-radius: 0.375rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.group-text-btn > a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
}

.group-text-btn.sm {
  gap: 0px;
}

.icon-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.5rem;
}

.icon-btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
}

.my-button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 600;
}

.my-button:hover {
  cursor: pointer;
}

.my-button.primary {
  --tw-bg-opacity: 1;
  background-color: rgb(88 185 79 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.my-button.primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
}

.my-button.rounded {
  border-radius: 0.375rem;
}

.my-button.block {
  width: 100%;
}

.my-button.noline-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
}

.my-button.outline-primary {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(88 185 79 / var(--tw-border-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(88 185 79 / var(--tw-text-opacity, 1));
}

.my-button.outline-primary:hover {
  --tw-border-opacity: 1;
  border-color: rgb(252 176 64 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn {
  display: flex;
  min-width: 15rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  text-align: center;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
}

.btn.primary {
  --tw-bg-opacity: 1;
  background-color: rgb(88 185 79 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn.primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
}

.btn-inline {
  height: 3rem;
  max-width: 3rem;
}

.btn-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(88 185 79 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
}

.btn-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(88 185 79 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(88 185 79 / var(--tw-text-opacity, 1));
}

.btn-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.icon-flag-container {
  display: flex;
  min-width: 13rem;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 0.375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.icon-flag-container:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(88 185 79 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.icon-flag-container > div {
  width: 50%;
  max-width: 1rem;
}

.icon-flag-container.selected {
  --tw-bg-opacity: 1;
  background-color: rgb(252 176 64 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer .site-menu {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .footer .site-menu {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer .site-menu.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer .site-menu.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.footer .site-menu {
  padding-top: 5rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px) {
  .footer .site-menu {
    flex-direction: row;
    gap: 0px;
    text-align: start;
  }
}

.footer .info {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .footer .info {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer .info.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer .info.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.footer .info {
  display: flex;
  flex-direction: column;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .copyright {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .footer .copyright {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer .copyright.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer .copyright.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.footer .copyright {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.group-info {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.group-info > h6 {
  font-weight: 700;
}

.group-icon_social_media {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .group-icon_social_media {
    justify-content: flex-start;
  }
}

.group-text-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.group-text-link h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(88 185 79 / var(--tw-text-opacity, 1));
}

.group-text-link a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.group-text-link a:hover {
  text-decoration-line: underline;
}

.my-button.input-sm {
  border-radius: 0.375rem;
}

.input-sm {
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
  outline-width: 0px;
}

.input-sm:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--line);
}

.input-sm::-moz-placeholder {
}

.input-sm::placeholder {
}

.borderless-card_action_container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .borderless-card_action_container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.borderless-card_action_container.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.borderless-card_action_container.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.borderless-card_action_container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width: 768px) {
  .borderless-card_action_container.horizontal-padding {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .borderless-card_action_container.article-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .borderless-card_action_container {
    flex-direction: row;
  }
}

.borderless-card-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-content: stretch;
  gap: 4rem;
}

@media (min-width: 768px) {
  .borderless-card-container {
    gap: 2rem;
  }
}

.borderless-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px) {
  .borderless-card {
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    text-align: start;
  }
}

.borderless-card.center {
  align-items: center;
  text-align: center;
}

.borderless-card .head {
  font-weight: 700;
}

.borderless-card .highlight {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(88 185 79 / var(--tw-text-opacity, 1));
}

.borderless-card .icon {
  margin-bottom: 1rem;
}

.borderless-card_action {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.borderless-card_action h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.round-icon-container {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.round-icon-container.primary {
  --tw-bg-opacity: 1;
  background-color: rgb(206 235 204 / var(--tw-bg-opacity, 1));
}

.round-icon-container.line {
  --tw-bg-opacity: 1;
  background-color: rgb(224 224 224 / var(--tw-bg-opacity, 1));
}

.feature-group {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .feature-group {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.feature-group.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.feature-group.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.feature-group {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width: 768px) {
  .feature-group {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-left: 13rem;
    padding-right: 13rem;
  }
}

.feature-group .item {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .feature-group .item {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-color: rgb(28 73 39 / var(--tw-border-opacity, 1));
    --tw-border-opacity: 1;
    border-bottom-color: rgb(28 73 39 / var(--tw-border-opacity, 1));
    padding: 4rem;
  }
}

.feature-group .\!item {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .feature-group .\!item {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-color: rgb(28 73 39 / var(--tw-border-opacity, 1));
    --tw-border-opacity: 1;
    border-bottom-color: rgb(28 73 39 / var(--tw-border-opacity, 1));
    padding: 4rem;
  }
}

.feature-group .item.cancel-border_r {
  border-right-width: 0px;
}

.feature-group .\!item.cancel-border_r {
  border-right-width: 0px;
}

.feature-group .item.cancel-border_b {
  border-bottom-width: 0px;
}

.feature-group .\!item.cancel-border_b {
  border-bottom-width: 0px;
}

.feature-group .item .image-container {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .feature-group .item .image-container {
    width: 6rem;
    height: 6rem;
  }
}

.feature-group .\!item .image-container {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .feature-group .\!item .image-container {
    width: 6rem;
    height: 6rem;
  }
}

.feature-group .item h4 {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(28 73 39 / var(--tw-text-opacity, 1));
}

.feature-group .\!item h4 {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(28 73 39 / var(--tw-text-opacity, 1));
}

.feature-image-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 640px) {
  .feature-image-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.feature-image-grid > .image-container {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(241 245 249 / var(--tw-border-opacity, 1));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.feature-image-grid > .image-container:hover {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(206 235 204 / var(--tw-border-opacity, 1));
  --tw-shadow-color: #ceebcc;
  --tw-shadow: var(--tw-shadow-colored);
}

.article-container {
  margin-bottom: 10rem;
}

.article-container.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.article {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1536px) {
  .article {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.article.narrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.article.snug {
  padding-left: 13rem;
  padding-right: 13rem;
}

.article {
  margin-bottom: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.article ul {
  margin: 0px;
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
}

.article > p {
  margin-bottom: 1.5rem;
}

.article li {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.article li > i {
  min-width: 2rem;
}

.article h3 {
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.article .image-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-nav_container {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-bottom-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  padding: 1.5rem;
}

.icon-nav_container:hover {
  --tw-border-opacity: 1;
  border-color: rgb(88 185 79 / var(--tw-border-opacity, 1));
}

.icon-nav_container.selected {
  --tw-border-opacity: 1;
  border-color: rgb(252 176 64 / var(--tw-border-opacity, 1));
}

.icon-nav_container img {
  width: 100%;
  height: 100%;
}

.icon-nav_container .image-container {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-nav_container h6 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.timeline-container.left {
  display: flex;
}

.timeline-container.right {
  display: flex;
  flex-direction: row-reverse;
}

.timeline-container > .image-container {
  max-height: 30rem;
  width: 50%;
}

.timeline-container > .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-top: 3rem;
}

.timeline {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 1rem;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.timeline.left {
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
  padding-top: 3rem;
}

.timeline.right {
  border-left-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
  padding-top: 3rem;
}

.timeline h3 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.timeline .year {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
}

.timeline p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.timeline ul {
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.timeline li {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
}

.timeline li > i {
  min-width: 2rem;
}

.overview-container {
  display: flex;
  flex-direction: column;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.overview.tag {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(88 185 79 / var(--tw-text-opacity, 1));
}

.overview.title {
  margin-bottom: 1rem;
  font-weight: 600;
}

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.overview ul {
  padding: 0px;
}

.overview li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.overview li > i {
  margin-right: 0.75rem;
  min-width: 2rem;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-top-8 {
  top: -2rem;
}

.bottom-10 {
  bottom: 2.5rem;
}

.bottom-20 {
  bottom: 5rem;
}

.right-0 {
  right: 0px;
}

.top-full {
  top: 100%;
}

.z-20 {
  z-index: 20;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-32 {
  margin-bottom: 8rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.size-20 {
  width: 5rem;
  height: 5rem;
}

.size-full {
  width: 100%;
  height: 100%;
}

.h-0 {
  height: 0px;
}

.h-12 {
  height: 3rem;
}

.h-2 {
  height: 0.5rem;
}

.h-52 {
  height: 13rem;
}

.h-56 {
  height: 14rem;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-1\/2 {
  width: 50%;
}

.w-20 {
  width: 5rem;
}

.w-36 {
  width: 9rem;
}

.w-48 {
  width: 12rem;
}

.w-60 {
  width: 15rem;
}

.w-72 {
  width: 18rem;
}

.w-80 {
  width: 20rem;
}

.w-\[20rem\] {
  width: 20rem;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-12 {
  min-width: 3rem;
}

.min-w-40 {
  min-width: 10rem;
}

.min-w-72 {
  min-width: 18rem;
}

.max-w-\[25rem\] {
  max-width: 25rem;
}

.max-w-\[32-rem\] {
  max-width: 32-rem;
}

.max-w-\[50rem\] {
  max-width: 50rem;
}

.max-w-screen-2xl {
  max-width: 1536px;
}

.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-12 {
  gap: 3rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[2rem\] {
  border-radius: 2rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-x {
  border-left-width: 1px;
  border-right-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-gray-50 {
  --tw-border-opacity: 1;
  border-color: rgb(249 250 251 / var(--tw-border-opacity, 1));
}

.border-info {
  --tw-border-opacity: 1;
  border-color: rgb(51 51 51 / var(--tw-border-opacity, 1));
}

.border-line {
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
}

.border-red-800 {
  --tw-border-opacity: 1;
  border-color: rgb(153 27 27 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-green-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 101 52 / var(--tw-bg-opacity, 1));
}

.bg-info {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity, 1));
}

.bg-info_darker {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}

.bg-info_lighter {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 241 / var(--tw-bg-opacity, 1));
}

.bg-line\/50 {
  background-color: rgb(224 224 224 / 0.5);
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(88 185 79 / var(--tw-bg-opacity, 1));
}

.bg-primary\/10 {
  background-color: rgb(88 185 79 / 0.1);
}

.bg-skype {
  --tw-bg-opacity: 1;
  background-color: rgb(0 175 240 / var(--tw-bg-opacity, 1));
}

.bg-telegram {
  --tw-bg-opacity: 1;
  background-color: rgb(36 161 222 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-28 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pt-12 {
  padding-top: 3rem;
}

.text-center {
  text-align: center;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.leading-tight {
  line-height: 1.25;
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.text-info {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(88 185 79 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-primary {
  outline-color: #58b94f;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.heading {
  font-size: 3.75rem;
  line-height: 1;
}

.subheading {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.error-text {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity, 1));
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

ol {
  list-style-type: disc;
  padding-left: 1.25rem;
}

label,
p,
a {
  font-size: 0.875rem;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.reveal-with.active {
  opacity: 1;
}

.reveal-with.inactive {
  opacity: 0;
}

.active.fade-right {
  animation: fade-right 0.4s ease-out;
}

@keyframes fade-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.active.fade-up {
  opacity: 0;
  animation: fade-up 0.4s ease-out forwards;
}

.active.fade-up.with-delay {
  animation-delay: 0.3s;
}

@keyframes fade-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.active.fade-down {
  opacity: 0;
  animation: fade-down 0.4s ease-out forwards;
}

.active.fade-down.with-delay {
  animation-delay: 0.1s;
}

@keyframes fade-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#carousel-container_images {
  transition: transform 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .md\:narrow.horizontal-padding {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:snug.horizontal-padding {
    padding-left: 13rem;
    padding-right: 13rem;
  }

  .md\:narrow.article-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.hover\:border-2:hover {
  border-width: 2px;
}

.hover\:border-primary\/50:hover {
  border-color: rgb(88 185 79 / 0.5);
}

.hover\:shadow-primary\/50:hover {
  --tw-shadow-color: rgb(88 185 79 / 0.5);
  --tw-shadow: var(--tw-shadow-colored);
}

.group:hover .group-hover\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 768px) {
  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:flex {
    display: flex;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-3\/5 {
    width: 60%;
  }

  .md\:min-w-72 {
    min-width: 18rem;
  }

  .md\:max-w-72 {
    max-width: 18rem;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:gap-20 {
    gap: 5rem;
  }

  .md\:p-20 {
    padding: 5rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:px-40 {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:text-start {
    text-align: start;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:text-start {
    text-align: start;
  }
}

@media (min-width: 1280px) {
  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
