<section>
	<div class="flex flex-col-reverse md:flex-row justify-between horizontal-padding md:narrow reveal fade-right mb-12 bg-line/50 py-20">
		<div class="overview-container w-full md:w-1/2">
			<h6 class="overview tag">Metatrader 4</h6>
			<h3 class="overview title">Trade with iLimits Platform</h3>
			<p class="mb-6">
				iLimits offers MetaTrader 4 for Windows and Mac as well as for Android and iOS mobile
				platforms. MT4 provides a trading experience at your fingertips allowing you to progress as
				a trader anywhere at anytime.
			</p>
			<div class="overview row">
				<ul>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>User friendly</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Is easy to install</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Can be integrated into systems</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Comes with advanced charting tools</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Offers speedy trading</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Is quick to download</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>
							100+ markets including currencies, metals, commodities, indices, cryptocurrencies and
							shares
						</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Tight fixed spreads for price transparency</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>
							Account base currencies available: USD, GBP, EUR, CAD, AUD, ILS, CNY, NZD, NOK, CHF,
							JPY, PLN, SGD, ZAR
						</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Expert Advisors allowed</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="w-full md:w-1/2 max-w-[25rem]">
			<img src="/images/mt4_logo.png" alt="" class="size-full object-contain" />
		</div>
	</div>
</section>
