<section>
	<div class="flex flex-col-reverse md:flex-row justify-between horizontal-padding md:narrow reveal fade-right mb-12 py-20">
		<div class="overview-container">
			<h6 class="overview tag">Metatrader 4</h6>
			<h3 class="overview title">How do I install custom indicators on Metatrader 4?</h3>
			<div class="overview row">
				<ul>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Open MT4, Find the Navigator</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>In the Navigator menu, locate Custom Indicators</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Click on that option, and your custom indicator should be displayed</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>
							Double click your new custom indicator and the Properties (for indicators) window pop
							up
						</p>
					</li>
					<li>
						<i class="checkbox-icon icon-md bg-primary"></i>
						<p>Click OK</p>
					</li>
				</ul>
			</div>
		</div>
        <div>
            <img src="/images/Laptop-Only-2.png" alt="" class="size-full object-cover">
        </div>
	</div>
</section>
