<section>
	<div class="overview-container horizontal-padding md:narrow reveal fade-right mb-20">
		<h6 class="overview tag">Metatrader 4</h6>
		<h3 class="overview title">iLimits MT4 Main Features</h3>
		<div class="overview flex-col md:flex-row">
			<ul>
				<li>
					<i class="checkbox-icon icon-md bg-primary"></i>
					<p>Works with Expert Advisors, built in and custom indicators</p>
				</li>
				<li>
					<i class="checkbox-icon icon-md bg-primary"></i>
					<p>1 Click Trading</p>
				</li>
				<li>
					<i class="checkbox-icon icon-md bg-primary"></i>
					<p>Complete technical analysis with over 50 indicators and charting tools</p>
				</li>
				<li>
					<i class="checkbox-icon icon-md bg-primary"></i>
					<p>Built-in help guides for MetaTrader 4 and MetaQuotes Language 4</p>
				</li>
			</ul>
			<ul>
				<li>
					<i class="checkbox-icon icon-md bg-primary"></i>
					<p>Handles a vast number of orders</p>
				</li>
				<li>
					<i class="checkbox-icon icon-md bg-primary"></i>
					<p>Creates various custom indicators and different time periods</p>
				</li>
				<li>
					<i class="checkbox-icon icon-md bg-primary"></i>
					<p>History database management, and historic data export/import</p>
				</li>
				<li>
					<i class="checkbox-icon icon-md bg-primary"></i>
					<p>Guarantees full data back up and security</p>
				</li>
			</ul>
		</div>
	</div>
</section>
