<section>
	<div class="flex reveal fade-right">
		<a href="https://download.mql5.com/cdn/web/ilimits.invest.limited/mt4/ilimitsinvest4setup.exe">
			<img src="/images/hero_image.png" alt="" class="size-full" />
		</a>
	</div>
</section>
