<section>
	<div class="flex flex-col md:flex-row justify-between horizontal-padding md:narrow reveal fade-right mb-12 py-20 gap-12">
		<div class="overview-container w-full md:w-1/2">
			<h6 class="overview tag">Metatrader 4</h6>
			<h3 class="overview title">What is MT4?</h3>
			<div>
				<p>
					Metatrader 4 is a popular trading platform amongst experienced traders due to its
					customizability and advanced features which allow for tailored market analysis and
					automated trading.<br /><br />The platform also allows clients with advanced trading
					knowledge to customize their terminals and display multiple live charts while using
					technical indicator overlays – which can either be pre-prepared and purchased or custom
					created.
				</p>
			</div>
		</div>
		<div class="overview-container w-full md:w-1/2">
			<h6 class="overview tag">Metatrader 4</h6>
			<h3 class="overview title">Why use MT4?</h3>
			<div>
				<p>
					Metatrader 4 is the preferred platform of advanced traders due to the sheer amount of
					information displayed in one window. This information can be extensively user-defined,
					windows can be organized to fit the trader’s needs and changed in the interface; a wide
					selection of overlays and technical indicators can also be displayed.
				</p>
			</div>
		</div>
	</div>
</section>
