<!DOCTYPE html>
<html lang="en">
	<%- include('./commonSections/head') %>

	<body>

        <%- include('./commonSections/navbar') %>

		<div class="max-w-screen-2xl mx-auto py-24">

			<%- include('./commonSections/newsletter-subscription') %>

			<%- include('./commonSections/footer') %>
		</div>
	</body>

	<script src="/js/commonUtils.js"></script>

</html>
