<section class="reveal fade-right">
	<div
		class="flex flex-col horizontal-padding md:narrow py-32 gap-2 justify-center items-center bg-info_lighter text-info">
		<div class="size-20">
			<img src="/images/avatar-group.svg" alt="" class="size-full" />
		</div>
		<h4 class="font-semibold">Still Have Questions?</h4>
		<h5 class="mb-4">Can’t find the answer for your trading enquiries? Chat with our Ilimits team.</h5>
		<div class="flex items-center justify-center gap-4">
			<a href="https://ilimits.id/aboutUs/?tab=018cce21nlzrdsyh#" class="chat-icon icon-2xl bg-info"></a>
			<a href="https://t.me/info_iLimits" class="telegram-icon icon-2xl bg-telegram"></a>
			<a href="https://wa.me/6285218268303" class="whatsapp-icon icon-2xl bg-primary"></a>
			<a href="https://join.skype.com/invite/tT1pgU5t0Epm" class="skype-icon icon-2xl bg-skype"></a>
		</div>
	</div>
</section>
