<section class="reveal fade-right">
    <div class="horizontal-padding md:snug py-32">
        <div class="feature-image-grid">
            <a href="#" class="image-container"><img src="/images/35_rescue_bonus.png" alt="" class="size-full"></a>
            <a href="#" class="image-container"><img src="/images/IB_Rewards_Thai.jpg" alt="" class="size-full"></a>
            <a href="#" class="image-container"><img src="/images/Online_Course.png" alt="" class="size-full"></a>
            <a href="#" class="image-container"><img src="/images/breaking_news.png" alt="" class="size-full"></a>
        </div>
    </div>
</section>