<section class="reveal fade-up">
	<div class="feature-group">
		<div class="item">
			<div class="image-container">
				<img src="/images/Question_Mark.png" alt="" class="size-full" />
			</div>
			<h4>Why iLimits?</h4>
		</div>
		<div class="item">
			<div class="image-container">
				<img src="/images/Personal_Account_manager.png" alt="" class="size-full" />
			</div>
			<h4>Personal Account Manager</h4>
		</div>
		<div class="item">
			<div class="image-container">
				<img src="/images/Free_analysis.png" alt="" class="size-full" />
			</div>
			<h4>Free Market Analysis</h4>
		</div>
		<div class="item cancel-border_r">
			<div class="image-container">
				<img src="/images/Free_E_book.png" alt="" class="size-full" />
			</div>
			<h4>Free access to legendary e-Book</h4>
		</div>
		<div class="item cancel-border_b">
			<div class="image-container">
				<img src="/images/Free_Signal.png" alt="" class="size-full" />
			</div>
			<h4>Free Signal</h4>
		</div>
		<div class="item cancel-border_b">
			<div class="image-container">
				<img src="/images/Customer_Service.png" alt="" class="size-full" />
			</div>
			<h4>24/7 Customer Services</h4>
		</div>
		<div class="item cancel-border_b">
			<div class="image-container">
				<img src="/images/Flexible_leverage.png" alt="" class="size-full" />
			</div>
			<h4>Flexible Leverage</h4>
		</div>
		<div class="item cancel-border_r cancel-border_b">
			<div class="image-container">
				<img src="/images/5_Layer_IB.png" alt="" class="size-full" />
			</div>
			<h4>5 Layer IB Scheme</h4>
		</div>
	</div>
</section>
