<section class="reveal fade-up">
	<div class="borderless-card_action_container">
		<div class="borderless-card_action w-full md:w-1/2 items-center md:items-start text-center md:text-start">
			<h1>Download Our App</h1>
			<h6>
				Elevate your trading with the iLimits — your gateway to the forex market anytime, anywhere.
				Enjoy instant execution, real-time insights, and advanced tools, all secured with top-notch
				safety features. Embrace the freedom to trade on the go. Download now and transform your
				trading experience with iLimits, where opportunities never sleep.
			</h6>
			<a
				class="btn btn-primary btn-inline"
				href="https://download.mql5.com/cdn/web/ilimits.invest.limited/mt4/ilimitsinvest4setup.exe"
				target="_blank">
				<p>Download Now</p>
			</a>
		</div>
		<div class="w-full md:w-1/2">
			<img src="/images/phone_app.png" alt="" class="size-full" />
		</div>
	</div>
</section>
