<section>
	<div class="footer">
		<div class="site-menu">
			<div class="flex flex-col w-full md:w-1/2 gap-8">
				<div class="mx-auto md:mx-0 w-60"><img src="/images/ilimits-logo.svg" class="size-full" /></div>
				<p class="w-full sm:px-20 md:px-0 md:w-1/2 text-center md:text-start">
					iLimits Investment Limited Liability Company (trading name : iLimits) is incorporated in
					New Zealand (Registered No. 2083540) with licenses No (1237919)
				</p>
				<div class="group-icon_social_media">
					<a href="https://twitter.com/" class="x-icon icon-xl bg-info"></a>
					<a href="https://instagram.com/" class="ig-icon icon-xl bg-info"></a>
					<a href="https://linkedin.com/" class="linkedin-icon icon-xl bg-info"></a>
					<a href="https://facebook.com/" class="yt-icon icon-xl bg-info"></a>
					<a href="https://youtube.com/" class="fb-icon icon-xl bg-info"></a>
				</div>
			</div>
			<div class="flex flex-col md:flex-row w-full md:w-1/2 gap-8 md:gap-20">
				<div class="group-text-link">
					<h6>ABOUT US</h6>
					<a href="">Regulation</a>
					<a href="">About</a>
				</div>
				<div class="group-text-link">
					<h6>TRADING</h6>
					<a href="">Accounts</a>
					<a href="">Conditions</a>
                    <a href="">Instruments</a>
                    <a href="">Platform</a>
				</div>
			</div>
		</div>
		<div class="info">
			<div class="group-info">
				<h6>Restricted Regions:</h6>
				<p>
					iLimits Invest Limited does not provide Forex Trading services for the residents of
					certain countries, such as New Zealand. iLimits does not direct its website and services
					to any individual in any country in which the use of its website and services are
					prohibited by local laws or regulations. When accessing this website from a country in
					which its use may or may not be prohibited, it is the user's responsibility to ensure that
					any use of the website or services adhere to local laws or regulations. iLimits does not
					affirm that the information on its website is suitable to all jurisdictions.
				</p>
			</div>
			<div class="group-info">
				<h6>RISK WARNING:</h6>
				<p>Forex and CFD trading involves a significant risk to your invested capital.</p>
			</div>
		</div>
		<div class="copyright">
			<h6>Copyright © 2024 by iLimits. All Rights Reserved.</h6>
		</div>
	</div>
</section>
