<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="/images/ilimits-icon.png" />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
		rel="stylesheet" />
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="/css/style.css?v=155946dc-e6de-416d-b433-82d0cc2bc29b" />
	<link rel="stylesheet" href="/css/nativeIcons.css?v=155946dc-e6de-416d-b433-82d0cc2bc29b" />
	<link rel="stylesheet" href="/css/carousel.css?v=cbbc98a6-933c-43c9-a731-781f3b6293ca" />
	<title>iLimits</title>
</head>
